body {
    font-family: 'Monospace';
    margin: 0;
}

h1 {
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(41, 229, 103);
    width: 100%;
}