body {
    font-family: 'Montserrat', 'Century Gothic';
    margin: 0;
    padding: 0;
    border: 0;
}


header {
    background-color: rgb(172, 233, 168);
    text-align: center;
    padding: 1rem;
}


nav {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(172, 233, 168);
    width: 100%;
    padding-bottom: 0.5rem;
}

.nav {
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    color: black;
}

main {
    padding: 1rem;
}

main h2, main h3{
    text-align: center;
}

.refresh {
    padding: 10px 10px;
    text-align: center;
}


footer {
    padding: 1rem;
}